

////// animation ========================== animation \\\\\\\\\\\\\

@import './mixin';

.hide{
     visibility: hidden;    
    @include transition-mixin-value(0.5);
}



.rot_up{
    transform: rotate(45deg) translateY(10px) translateX(15px)  ;
    @include transition-mixin;
    width: 30px;
    height: 0.01em;
    overflow: visible;
    z-index: 2;
    border: 0px;
    padding: 0.09em;
    
}


.rot_down{
    transform: rotate(-45deg) translateY(0) translateX(2px);
    @include transition-mixin;
    width: 30px;
    overflow: visible;
    z-index: 2;
    height: 0.01em;
    border: 0px;
    padding: 0.09em;
}


.hamburger-rot{
    height: 50px;
    
    animation-fill-mode: forwards;
    animation: rotate 0.5s 1;

    
    
    
}
    
.hamburger-rot-anti{
    animation: rotate_anti;
}

@keyframes rotate_anti {
    
        0%{
            transform: rotate(0deg);
        }
    
        
    
        100%{
            transform : rotate(-720deg);
        }
    
    
    
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    

    100%{
        transform: rotate(720deg);
    }


}

.above , .below {
    @include transition-mixin;
    .mid{
        visibility: hidden;
    }
}

.mid{
    @include transition-mixin-value(0);
}




@keyframes  simply{

    0%{
        width: 0%;
    }
    
    

    100%{
        width: 100%;
    }
}


#link_1 , #link_2 , #link_3 , #link_4{
   
    transform: translateX(-100vw);
    visibility: visible;
    @include transition-mixin;
    animation:anim_bar_content ;

}


@keyframes anim_bar_content {

    0%{
        transform: translateX(100vw);

    }

    100%{
        
        transform: translate(0vw);
    }
    
}


.animate_bar_content{
    animation: anim_bar_content;
    @include transition-mixin;
}


$x : 0;

.menu-link{
    @include transition-mixin;
    
    @if ($x == 0) {
        transform: translateX($x);
        animation: anim_bar_content 2s;
         
    }
    @else{
        transform: translateX(100vw);
        animation: anim_bar_content 2s;
        $x : 0;
    }


    animation: anim_bar_content 2s ;
    animation-direction: forwards;
}



