
$primary-color : rgb(71, 71, 71);
$secondary-color: rgb(241, 149, 29);
$color:white;

///some basic setup
/// 
/// 
/// 

*{
    padding: 0.2rem;   //may have to changed
    margin: 0%;
    box-sizing: border-box;
    line-height: 2rem;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

