@import './mixin';

$primary-color : rgb(71, 71, 71);
$secondary-color: rgb(241, 149, 29);
$color:white;

$full_view :100vh;

///some basic setup
/// 
/// 
/// 

*{
    padding: 0.2rem;   //may have to changed
    margin: 0%;
    box-sizing: border-box;
    line-height: 2rem;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


h2{
    font-size: 1rem;
}

a.link-items1{
    @include transition-mixin;
}

.home{
    padding: 0;
}

.footer{
    padding: 0;
}



