

//  
//  tryn' to deal with the menubar

@import './animate';

span.hamburger{
    content: '';
    
    border-radius: 1rem;
    display: block;
    position: relative;
    background-color: $color;
   
    
    
}


._hamburger{
    display: flex ;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    
    width: 5px;
    width: 40px;
    position: absolute;
    z-index: 4;
    margin: 2%;
    left: 85%;
    top: 2%;
    box-shadow: black 2px 2px 01  ;

    
    
}





