


// transition prop

@mixin transition-mixin {
    transition: all ,0.5s , ; 
   
   
 
}

@mixin transition-mixin-value($duration) {
    transition: all ,$duration ; 
   
   
 
}

// Not working.....
///@mixin trans-a {
///    transition: text-decoration , 0s;
///`}

