
@import './mixin';

nav.nav  .menu-list-item1{
    height: 100vh;
    background-color: rgb(59, 59, 59);
    padding: 0px;
    z-index: 2;
    flex-direction: column;
    position: fixed;
    opacity: 0.97;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    
   
    
    
    
} 


.nav-visibility{
    visibility: visible;
}

nav.nav{
    padding: 0;
    margin: 0;

}

.menu-list{
    padding: 0;
    margin: 0px;
}
menu-list-item1.active{
    padding: 0;
}

span.menu{
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}

div.menu-btn{
    padding: 0;
}

li{
    padding: 0;
    margin: 0;
}