
@import './mixin';

.menu-list-item1{
    height: 100vh;
    background-color: rgb(59, 59, 59);
    padding: 0px;
    z-index: 2;
    flex-direction: column;
    position: fixed;
    opacity: 0.97;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include transition-mixin;
    transform: translateX(100vw);
    opacity: 0;
  
    
    
    
   
    
    
    
} 

@keyframes  simply{

    0%{
        width: 0%
    }
    
    100%{
        width: 100%
    }
}





.translate-anim-1{
    @include transition-mixin;
    @extend .menu-list-item1;
    visibility: visible;
    transform: translateY(-100vh);
}

.translate-anim-2{
    @include transition-mixin;
    @extend .menu-list-item1;
    visibility: hidden;
    transform: translateY(-100vh);

}

.nav-visibility{
    visibility: visible;
}

nav.nav{
    padding: 0;
    margin: 0;

}

.menu-list{
    padding: 0;
    margin: 0px;
}
menu-list-item1.active{
    padding: 0;
}

span.menu{
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}

div.menu-btn{
    padding: 0;
}

li{
    padding: 0;
    margin: 0;
}

// ////////////////truy'n for gud transition 

// nav.nav  .menu-list-item1 , span.menu{
    
    
// }

