
@import './mixin';
@import './variables';
@import './config';
@import './menubar';
@import './animate';
@import './nav-bar';

body{
    background-color: $primary-color;
    color: $color;
    width: 100%;

}

a{
    color: $color;
    text-decoration: none;
    
}

a:hover{
    @include transition-mixin;
}



.footer{
    position: fixed;
    bottom: 0px;
    display: flex;    
    width: 100%;
    justify-content: end;
    
    
    
    
   

 
}
.footer a {
    justify-content: end;
    margin-left: auto;
    padding-right: 0.7rem;
    
    
    }

   


.home{
    text-align: center;
    vertical-align: middle;
    height: 50vh;
    width: 100%;
    display: flex;
    
    
}


.home-div{
    
    position: relative;
    z-index: 1;
    margin: auto;
    padding: 0;
    
}

.menu a:hover , .social-media-links a:hover{
    color: $secondary-color;
    
}

*::selection{
    background-color: $secondary-color;
}


a::after, a::before, a:hover , a::selection , a:active{
    
    text-decoration: none;
}


li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu-link{ 
    display: inline-block;
    padding: 0;
    margin: auto;
    font-size: 1.1rem;
    text-shadow: 3px 3px 3px black;
}

li.menu-list-item1{
    padding: 0%;
    margin: 0%;

}

.menu-list-item1{
    display: flex;
    
}

.menu-list-item1:last-child{
    margin-left: auto;
}


.my_name{
    margin-bottom: 20px;
    font-size: 2rem;
    border-bottom: 2px;
    border-color: $secondary-color;
}


 a.cc{
    display: inline;
    
    
    
    
}



//// Designing the home page
/// 
/// 
.main-home{

    border: 0px;
    padding: 0px;
    
}

// 
//  ///////////////////////////////////
body{
    text-align: center;
    background-size: cover;
    align-items: center;
    background: 
    
    linear-gradient(
        to right,
        rgba($primary-color,0.9),
        rgba($primary-color,0.6)
      ),
      url( '../model-1.jpg')  center top ;
      
}
//  //////////////////////////////////////////// 


h1.my_name{
    font-size: 3rem;
    padding:  5% 0 ;
    
    border-bottom: $color 2px solid;
    margin-bottom: 0%;
    

    & .last-name{
        color: $secondary-color;
        
        
        
        
    }
    
}


section.home{
    margin: 0;
    height: 100vh;
    
    display: flex;
    justify-content: center;
}




