

@mixin transition {
    transition: all ease 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
@keyframes zoom_out {

    from{
        
       background-color: none;
        
    }

    to{

        background-color: rgb(165, 165, 165 , 0.1);
        box-shadow: rgb(110, 110, 110) 0.5rem 0.5rem 2rem ;
        
        

    }
    
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    display: inline-block;
    
    
    margin: auto;
    margin-top: 2%;
}








.hamburger-top-rot{
    
    

    animation: rotation-clock 1s ease;
    @include transition;

}

.hamburger-bottom-rot{

    
    animation: rotation-anti-clock 1s ease;
    @include transition;
}


@keyframes rotation-clock {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(45deg) translateX(15px) translateY(12px);
        z-index: 10;
    }

}


@keyframes rotation-anti-clock {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(-45deg);
        z-index: 10;
    }

}

@keyframes fade-out {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }

}

@keyframes rotate-720 {
    from{
        transform: rotate(0deg);

    }

    to{
       transform: rotate(720deg);
    }

}



.rotate-720{
    animation: rotate-720 1.2s 1 ;
    animation-fill-mode: forwards;
}



@keyframes translate-down {

    from{
        transform: translateY(-100vh);


    }
    

    to{
        transform: translateY(0vh);
    }
}



@keyframes translate-up {

    0%{
        transform: translateY(0vh);
    }
    

    100%{
        transform: translateY(-100vh);
    }

    
}



.ham-top-rot{

    transform: rotate(45deg);
}


.ham-mid-rot{
    visibility: hidden;
}


.ham-bottom-rot{
    transform: rotate(-45deg);
}