
@import './animate';

@media (min-width:901px){

    body{
        color: black;
    }
}



@media (max-width : 900px)

{

        img{
            width: 20%;
            height: 20%;
        }


        

   
    div.section-2{
        height: max-content;
        
        

    }
    div.section-3{
        height: max-content;

    }

    div{
        flex-direction: column;
        
        width: -moz-fit-content;
        
        width: fit-content;
        
        height: -moz-fit-content;
        height: fit-content;
        
    }

    h6.content{
       
       height: 90%;
       width: 100%;
       font-size: 1.2rem;
       padding: 2% 2%;
       
    }



    .section-nav-nav  {

        height: 100vh;
        position: fixed;
        z-index: 7;
        backdrop-filter: blur(3rem);
        -webkit-backdrop-filter: blur(3rem);
        

        
    }
    section.section-nav{
        height: 100vh;
        position: fixed;
        text-align: center;
        transform: translateY(-100vh);
        
        animation-fill-mode: forwards;
      
        
    }

    
    
     div.menu-link{
        
        
        margin: auto;
        display: flex;
         column-gap: 5%;
        flex-direction: column;
        text-align: center;
        height: 90vh;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        

        
        
    }

    a{
        display: inline-block;
        margin: auto;
        font-size: 2rem;
        width: 100vw; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;       
        
    }

    div.hamburger-div{
        visibility: visible;
    }

    

 
  
}


// I thought that for now too much animation through js is not that healthy coz' i wanna get my css designing part strong

// .hide-{
//     visibility: hidden;
// }

// .show-{
//     visibility: visible;
// }



.translate-down{
    animation: translate-down  1s ease;
    
    transform: translateY(0vh);
}



.section-1-font-modify{
    color:#2BA8FD ;
    opacity: 0.5;
}