@media  (max-width:900px) {

    .section-nav .section-nav-nav{
        height: 100vh;
       
        
    }

    div.hamburger{
        visibility: visible;
    }

    section.section-nav{
        
        visibility: hidden;
        z-index: 1;
    }

    li.menu-link{

        flex-direction: column;
       
    }

    a{
        margin: auto;
        padding: 6%;
    }

    section.section-1{
       height: fit-content;
       padding: 5%;
    }



    section.section-2{
        flex-direction: column;
        column-gap: 5%;
        height: fit-content;
        text-align: center;
       justify-content: center;
       align-items: center;
     
        
        h6{
            padding: 5%;
        }
    }
        img{
            padding: 5%;
        }
    section.section-3{
    
       flex-direction: column;
       column-gap: 5%;
       height: fit-content;
       text-align: center;
       justify-content: center;
       align-items: center;

       h6{
        padding: 5%;
        
        
       
    }
        
    }
    .content{
        width: 100%;
    }
}

.hamburger-mid-rot{
    animation-delay: 0;
    visibility: hidden;
    
}
