





@media (max-width : 900px)

{

        img{
            width: 20%;
            height: 20%;
        }


        

   
    div.section-2{
        height: max-content;
        
        

    }
    div.section-3{
        height: max-content;

    }

    div{
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        
        
    }

    h6.content{
       
       height: 90%;
       width: 100%;
       font-size: 1.2rem;
       padding: 2% 2%;
       
    }



    .section-nav-nav  {

        height: 100vh;
        position: fixed;
        z-index: 7;
        backdrop-filter: blur(3rem);
        

        
    }
    section.section-nav{
        height: 100vh;
        position: fixed;
        text-align: center;
        visibility: hidden;
        
        
        
    }
    
     div.menu-link{
        
        
        margin: auto;
        display: flex;
         column-gap: 5%;
        flex-direction: column;
        text-align: center;
        height: 90vh;
        width: fit-content;
        margin: auto;
        

        
        
    }

    a{
        display: inline-block;
        margin: auto;
        font-size: 2rem;
        width: 100vw; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;       
        
    }

    div.hamburger-div{
        visibility: visible;
    }

    

 
  
}




.hide-{
    visibility: hidden;
}

.show-{
    visibility: show;
}