





@media (max-width : 900px)
{

        img{
            width: 20%;
            height: 20%;
        }


    

   
    div.section-2{
        height: max-content;
        
        

    }
    div.section-3{
        height: max-content;

    }

    div{
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        
        
    }

    h6.content{
       
       height: 90%;
       width: 100%;
       font-size: 1.2rem;
       padding: 2% 2%;
       
    }
}