@import './menubar';
@import './animate';
@import './responsive';


@mixin transition {
    transition: all ease 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}




$primary-color : #2BA8FD;



body{
    padding: 0%;
    margin: 0%;
    background:linear-gradient(

    to right bottom,

    rgba(43, 168, 253, 0.4),
    rgba(255, 255, 255, 0.5)


    

    ) ;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    
}




::selection{

    background-color: #2BA8FD;
    color: black;
}



*{
    padding: 0%;
    margin: 0%;
    line-height: 200%;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;


}


img{
   width: auto;
   height: auto;
   padding: 5%;
}


html, body{
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}




.section-1{
    margin: 0 4%;
    height: 70vh;
    
    text-align: center;
    background-size: cover;
    
    
   

    h1.section-1-heading {
        font-size: 300%;    

    }

    div.section-header{
        padding: 10% 10%;
        padding-top: 15%;
        

    }

    h3.section-1-sub-heading {

        margin-top: 2%;
    }

    h1.section-1-heading , h3.section-1-sub-heading {
        padding-bottom: 2%;
        display: block;
        
    }   

}


h6{
    display: inline-block;
    border-radius: 2rem;
    
}

div.section-2{
    display: flex;
    margin: 0 4%;
    height: max-content;
    justify-content: center;
    
    background: linear-gradient(
    
        to right bottom ,
    
        
        rgba(181, 181, 181, 0.2),
        rgba(255, 255, 255, 0.9)
    
        );
    border-radius: 2rem;
    box-shadow: rgb(110, 110, 110) 0.5rem 0.5rem 2rem; 
    -webkit-backdrop-filter: blur(3rem);
    backdrop-filter: blur(3rem);   
    
}


.content{
    font-size: 1.7rem;
    width: 50%;
}

.content.section-2-content{
    margin: auto 2%;
}


div.section-3{
    display: flex;
    
    
    margin: 10.5% 4%;
    margin-bottom: 10.5%;
    height: max-content;
    
    background: linear-gradient(
    
        to right bottom ,
    
        rgba(181, 181, 181, 0.2),
        rgba(255, 255, 255, 0.9)
        );
    border-radius: 2rem;
    box-shadow: rgb(110, 110, 110) 0.5rem 0.5rem 2rem; 
    -webkit-backdrop-filter: blur(3rem);
    backdrop-filter: blur(3rem);
       
}



.content.section-3-content
{
    margin: auto 2%;
}



img{
    
    width: 80%;
    height: 80%;
}




section.section-1{
    text-align: center;
    
}

div.section-header{
    text-align: center;
    margin: auto auto;
    
    
}