@import './menubar';
@import './animate';
@import './responsive';

@mixin transition {
    transition: all ease 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}




$primary-color : #2BA8FD;

body{
    background:linear-gradient(

    to right top,

    rgba(43, 168, 253, 0.5),
    rgba(255, 255, 255, 0.5)


    

    ) ;
    
}

::selection{

    background-color: #2BA8FD;
    color: black;
}
*{
    padding: 0%;
    margin: 0%;
    line-height: 200%;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;


}


html{
    scroll-behavior: smooth;
}


.section-1{
    margin: 0 5%;
    height: 90vh;
    text-align: center;
    background-size: cover;
    
    
   

    h1.section-1-heading {
        font-size: 300%;    

    }

    div.section-header{
        padding: 10% 10%;
        padding-top: 15%;
        

    }

    h3.section-1-sub-heading {

        margin-top: 2%;
    }

    h1.section-1-heading , h3.section-1-sub-heading {
        padding-bottom: 2%;
        display: block;
        
    }   

}


h6{
    display: inline-block;
    border-radius: 2rem;
    
}

section.section-2{
    display: flex;
    margin: 0 5%;
    height: 90vh;
    justify-content: center;
    
    background: linear-gradient(
    
        to right top ,
    
        rgba(255, 255, 255, 0.9),
        rgba(0, 0, 0, 0.1)
    
        );
    border-radius: 2rem;
    box-shadow: rgb(110, 110, 110) 0.5rem 0.5rem 2rem; 
    backdrop-filter: blur(3rem);   
    
}


.content{
    font-size: 1.7rem;
    width: 50%;
}

.content.section-2-content{
    margin: auto 2%;
}


section.section-3{
    display: flex;
    margin: 10.5% 5%;
    height: 90vh;
    flex-direction: row;
    background: linear-gradient(
    
        to right top ,
    
        rgba(255, 255, 255, 0.9),
        rgba(0, 0, 0, 0.1)
    
        );
    border-radius: 2rem;
    box-shadow: rgb(110, 110, 110) 0.5rem 0.5rem 2rem; 
    backdrop-filter: blur(3rem);
       
}



.content.content.section-3-content{
    margin: auto 2%;
}

img{
    margin: auto auto;
    width: 80%;
    height: 80%;
}




