

a.nav-div-item{
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: auto;
    
}



div.nav-div-items-container{
   
    width: 100vw;
    display: flex;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

