

.sec-1{

    height: 50vh;
    
     


    
    
}

div.sec-1-div{

    margin-top: 10%;
}
div.svg-code-div{
    display: flex;
   
    
}





.sec-1-div{
    display: flex;
    justify-content: center;
    align-items: center;
}



div.sec-1-header-div{
    font-size: 4.8rem;
    font-family: 'Open Sans', sans-serif;
   
    margin: auto auto;
    display: inline-block;
    // margin-left: 10%;
    // margin-right: 0%;
    
    
    

}

.svg-code-div{
    padding-top: 5%;
    
}


