


.sec-2{
    height: 1500px;
}


.sec-2-div-major{
    display: flex;
    flex-direction: column;
    
    height: 1500px;
    
    
}



div.sec-2-div-1 , div.sec-2-div-2{
    content: '';
    display: flex;
    flex-direction: row;
    height: 80vh;
   
    width: 100vw;
    margin: auto;
    


    & div{
        background: linear-gradient(

        to right bottom,

        rgba(255, 255, 255, 0.966),
        rgba(163, 163, 163, 0.608)

        );
        backdrop-filter: blur(2rem);
        -webkit-backdrop-filter: blur(2rem);
        box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.859);
        content: '';
        height: 80%;
        width: 30%;
        margin: auto;
        padding: 0 2%;
        box-sizing: content-box;
        border-radius: 2rem;
    }
}   



