
@import './nav-section';
@import './section-1';
@import './section-2';
@import './foot-sec';
@import './svg-cod';
@import './projects-svg';
@import './responsive';
@import './hamburger';
@import './animate';




$primary-color : #2BA8FD;

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


html , body , main{

    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background: linear-gradient(

        to right bottom,
   
        
        
       
   
       rgba(43, 168, 252, 0.112),
       rgba(255, 255, 255, 0.5)
   
   
       
   
   
   
       );

    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

}
