

footer{
    display: block;
    position: relative;
    height: 5vh;
    background-color: #fff;
}

footer > h5{
    font-size: 1.5rem;
    display: block;
    height: 5vh;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin:  auto;
    color: #4C3D56;
    position: relative;

} 