

nav{

    // background-color: black;
    content: '';
    position: fixed;
    width: 100vw;
    background-color: #4C3D56;
    z-index: 5;
   
}

    ::-webkit-scrollbar{
        background-color: white;
       
        

        
    }

    
    ::-webkit-scrollbar-thumb{
        background-color: #2ba9fd9b;
        border-radius: 0.2rem;
        
        box-shadow: inset 5px 2px 2px #4c3d56a9;
    }

    

div.logo-Div{
    content: '';
    background-color: #4C3D56;
    width: 300px;
    height: 11vh;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
   
}


div.nav-items-container-Div{
    width: 100vw;
    height: 12vh;
    
    display: flex;
    background-color: #4C3D56;
    margin: 0 auto;
    position: relative;
}


div.nav-item{
    height: 12vh;
    width: 20vh;
    margin: auto;
    content: '';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item > a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
}



a.hire-btn-Div{
    position: relative;
    height: 6vh;
    width: 8vw;
    
    // background-color: pink;
    box-shadow: 2px 2px 2px rgb(81, 81, 81);
    position: relative;
    color: #fff  ;
    border: none;
    background-color: #2BA8FD;
    border-radius: 9rem;    
    margin: auto 0;
    box-sizing: content-box;
    display: inline-block;
    z-index: 2;
    margin-right: 15%;
    text-align: center;
    align-items: center;
    
    
}

a.hire-btn-Div > span{
    height: fit-content;
    height: -webkit-fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    margin-top: 12px;
    display: inline-block;
}

a.hire-btn-Div:active{
    background-color: #2ba9fd94;
}


.logo-Div > i {
    background-color: #4C3D56;
    color: #2BA8FD;
    position: relative;
    width: fit-content;
    width: -webkit-fit-content;
    height: fit-content;
    height: -webkit-fit-content;
    display: inline-block;
    margin: auto;
    margin-right: 15%;
}

button:active{
    opacity: 0.7;
}


.logo-Div > .logo-div-name {
    color: #fff;
    font-size: 200%;
}


.logo-Div a {
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.logo-Div a :nth-child(2){
    color: white;
    font-size: 1.5rem;
    
}
.logo-Div a :nth-child(1){
    color: #2BA8FD;
    
}





section{
    margin: 0;
    padding: 0;
}



// jamburger


svg#ham-svg{
    display: inline-block;
    position: absolute;
    z-index: 25;
    width: 50px;
    height: 48px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: 5%;    
    margin-top: 1.7%;
    visibility: hidden;
    
}


svg#ham-svg rect {
    background-color: rgb(65, 140, 253);
}


svg#ham-svg:hover{
    cursor: pointer;
}
