


nav{
    height: 12vh;
    background-color: black;
    content: '';
    display: -ms-flexbox;

    z-index: 10;
}

div.logo-Div{
    content: '';
    background-color: gray;
    width: 300px;
    height: 12vh;
    display: inline-block;
    position: absolute;
}


div.nav-items-container-Div{
    width: 50vw;
    height: 12vh;
    display: flex;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}


div.nav-item{
    height: 12vh;
    width: 20vh;
    margin: auto;
    background-color:blue;
    content: '';
}


button.hire-btn-Div{
    height: 8vh;
    width: 10vw;
    content: '';
    background-color: pink;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    border-radius: 9rem;    
    top: 2%;
    bottom: 0;
    right: 8%;
    box-sizing: content-box;
    display: inline-block;
}