


section.sec-1{
    height: 100vh;
    background-color: #2BA8FD;
    content: '';
    z-index: 0;
    display: grid;
    
    grid-template-areas: 
    'one two '
    
    ;
    overflow-y: hidden;
    
}



div.header-group-Div{

    
    width: fit-content;
    width: -webkit-fit-content;

    height: fit-content;
    height: -webkit-fit-content;
    margin: auto 3%;
    margin-left: 5%;
}


h1.header{
    color: #4C3D56;
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: 1000;
}



h4.sub-header{
    color: white;
    width: 70%;
    font-weight: 50;
    line-height: 150%;
}


div.svg-Div{
    
    height: fit-content;
    
    width: fit-content;
    height: -webkit-fit-content;
    width: -webkit-fit-content;
    float: right;
    position: relative;
    text-align: center;
    margin: auto;

}

img#svg-img{
    width: 90%;
    height: 80%;
    display: inline-block;
    position: relative;
    z-index: 0;
        
    
}